<h1>Lista de items ordenados alfabéticamente</h1>
<div class="item-list">
    <form class="form-inline" ng-repeat="item in vm.sortedItems">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   ng-model="item.name"
                   readonly>
        </div>
        <div class="form-group">
            <label for="total">Total</label>
            <input type="number"
                   class="form-control"
                   id="total"
                   ng-model="item.total"
                   ng-change="vm.update($index, item.total)">
        </div>
        <button type="button" id="remove" ng-click="vm.remove($index)" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </form>

</div>
